@font-face {
  src: url("../fonts/dm-sans/dm-sans-regular.woff2") format("woff2");
  font-family: "dm-sans";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../fonts/dm-sans/dm-sans-bold.woff2") format("woff2");
  font-family: "dm-sans";
  font-weight: 700;
  font-style: normal;
}
