@use '../styles/variables' as *;

.loading {
	height: 100vh;
	display: $d-grid;
	place-items: center;
}

.loader {
	width: 6rem;
	height: 6rem;
	margin: 0 auto;
	border-radius: 50%;
	border: 4px solid $color-grey;
	border-top-color: $color-dark-orange;
	animation: spinner 0.6s linear infinite;
}

.containerLoaded::before {
	animation: none;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}
