@use "../styles/variables" as *;
@use "../styles/mixins" as *;
@use "../styles/breakpoints" as *;

.pricing {
  padding-top: $padding-base * 6.4;
  padding-bottom: $padding-base * 6.4;

  @include mobile {
    padding-top: $padding-base * 12;
    padding-bottom: $padding-base * 12;
  }

  @include tablet {
    padding-bottom: $padding-base * 16;
  }
}
