@use "../styles/variables" as *;
@use "../styles/mixins" as *;
@use "../styles/breakpoints" as *;

.pricing {
  display: $d-grid;
  row-gap: $gap-base * 4;
  padding: $padding-base * 12 0 $padding-base * 16;

  @include tablet {
    row-gap: $gap-base * 4.8;
  }
}
